@import "../variable.scss";

.navbar {
  background: linear-gradient(to right, #FCEED5, #FFE7BA);
  position: relative;
  overflow: hidden;

  &__header {
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 2rem;
    z-index: 99999;
    position: relative;

    @media (max-width: 768px) {
      padding: 0.5rem 0;
    }

    &-link {
      display: flex;
      align-items: center;
    }

    &-menu {
      display: flex;
    }

    &-show {
      display: block;

      @media (max-width: 768px) {
        display: none;
      }
    }

    img {
      width: 10rem;

      @media (max-width: 768px) {
        width: 5rem;
      }
    }
  }

  &__toggle {
    display: none;

    @media (max-width: 768px) {
      display: flex;
      color: #292e36;
      padding: 0.2rem;
      margin-left: auto;
    }

    &-size {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  &__menu-open {
    background-color: #FCEED5;
    z-index: 9999;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    overflow-y: auto;
  }
}

// Navbar Menu

.navbar-menu {
  display: flex;
  justify-content: space-between;
  width: auto;

  @media (max-width: 768px) {
    display: block;
    width: 100%;
  }

  &__list {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    font-family: "SVN-Gilroy-Bold", sans-serif;
    margin-top: 0;
    list-style: none;

    @media (max-width: 768px) {
      padding: 4px;
      display: block;
      font-size: 14px;
    }

    a {
      display: inline-block;
      padding: 13px 10px;
      text-decoration: none;
      color: $primary-color;

      @media (max-width: 768px) {
        border-bottom: 2px;
        border-color: #fff;
        padding: 0.5rem 1rem;
      }
    }
    
    a:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}
